<footer id="footer" class="mt-auto footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">DBDashboard<span></span></h5>
            Hier beginnt Ihre Reise.<br>
            <a id="darkmode" href="#"><span class="darkmode-text">Darkmode aktivieren </span><i class="fa-regular fa-moon" style="color:#dc3545"></i></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Links<span></span></h5>
            <a href="#.">Kontakt</a><br />
            <a href="#.">Benutzerhinweise</a><br />
            <a href="#.">Datenschutz</a><br />
            <a href="#.">Datenschutzeinstellungen</a><br />
            <a href="#.">Impressum</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Barrierefreiheit<span></span></h5>
            <a href="#.">Barrierefreiheitserklärung</a><br />
            <a href="#.">Barriere melden</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Kontakt<span></span></h5>
            <p><a href="mailto:info@domain.com" title="glorythemes">info@dbdb.de</a></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>DBDashboard © 2022.</p>
        </div>
      </div>
    </div>
  </div>
      
</footer>

