<style>
/*DB Font*/
@font-face {
    font-family: 'db_sans';
    src: url('/static/fonts/db_sans_regular-webfont.woff2') format('woff2'),
         url('/static/fonts/db_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'db_sans';
    src: url('/static/fonts/db_sans_bold-webfont.woff2') format('woff2'),
         url('/static/fonts/db_sans_bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;}
@font-face {
    font-family: 'db_sans';
    src: url('/static/fonts/db_sans_black-webfont.woff2') format('woff2'),
         url('/static/assets/fonts/db_sans_black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;}
html, body{font-family: 'db_sans' !important;}

            /*Dark Mode @media (prefers-color-scheme: dark) {
              
            body{
              background-color: #111;
              color: white;
            }
            
            .bg-dark {background-color: #191919 !important;}
            
            /*Navbar
            .nav-link.active {color: #dc3545 !important;font-weight: 900;}
            .nav-link {color: white !important;}
            a.nav-link.disabled  {color: #aaa !important;}
            .navbar-brand {color: white;}
              
            /*Inputs
            .form-control {background: transparent;}
            input {color: white !important;}
            input:focus {background-color: #111 !important;}
          
            /*Collapse
            .card.card-body {
              background-color: transparent;
              background-color: #1c1f23 !important;}
            .optionen {
              background-color:#5c636a;
              color: white !important;}
            
            /*Tables
            table {color: white !important;}
          
            /*Footer
            footer div {color: white !important;}

}/*WhiteMode*/


/*Navbar*/
.navbar {
}

.navbar-toggler {
border: none !important;
outline: none !important;
}

.nav-link.active {color: #dc3545 !important;font-weight: 900;}
.nav-link {color: #222 !important;}
a.nav-link.disabled  {color: #444 !important;}
.navbar-brand {color: #222 !important}

a:hover{
  color: #ddd;
}




/*Inputs*/
.form-control {
    background-color: #1c1f23;
    background-color: #c0c0c0;
    border: none;}

/*Collapse bzw. Optionen im Dashboard*/
.card.card-body {
  background-color: transparent;
  background-color: #ccc !important;}
  border: none;
.optionen {
    background-color:##aaa;
    border: none !important;
    color: white !important;}
#collapseExample {margin-top: 20px;}
.p-4 {padding: 0px !important;}

/*Tables*/

a{

  color: #dc3545;
  text-decoration: none;
} 

/* Logos */
.static {
  position:absolute;
  background: white;
}
.static:hover {
  opacity:0;
}
img.active {
  top: 10px;
  border-radius: 5px;
}
img.static {
  top: 15.45px;
  border-radius: 5px;
    /* height: 30px !important; */
}


/* Footer */
.footer-1{
  padding-top: 50px !important;
}


/* Dark Mode */
.dark-mode {
  background-color: black;
  color: white;
}


.col-xs-12.col-sm-6.col-md-3 {
    padding: 20px;
}

.centern {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


</style>